<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>Feel Music Inc.</title>
  </head>
  <body>
  <!-- Header Carousel -->
  <header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
        <div class="fill" ><%= image_tag('feel1.gif')%></div>
        </div>
        <div class="item">
          <div class="fill" ><%= image_tag('feel2.gif')%></div>
        </div>
        <div class="item">
          <div class="fill"> <%= image_tag('feel3.gif')%></div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">

        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>

      </a>
  </header>

  <!-- Page Content -->
  <div class="container">
      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Noticias
          </h1>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4> Lanzamiento vídeo clic de la canción "Take it Easy" </h4>
            </div>
            <div class="panel-body">
              <p>La canción Take it Easy se estrena el mes de enero, esta bajo los artistas Tre60 y Cheicy Kannon </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4> Próximos lanzamientos </h4>
            </div>
            <div class="panel-body">
              <p>En el año 2017 se estarán trabajando proyectos en todo tipo de música urbana por los artistas que están bajo el sello Feel Music, vienen canciones y colaboraciones con artistas nacionales e internacionales.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>The Music is life (mixtape) Tre60</h4>
            </div>
            <div class="panel-body">
              <p>The music is life es un proyecto del artista y productor Tre60, el cual sera lanzado en el año 2017 con canciones como solista y colaboraciones de otros artistas. Este mixtape tendrá un contenido de 10 list track.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Portfolio Section -->
      <div class="row portaFotos">
        <div class="container">
          <div class="col-lg-12">
            <h2 class="page-header">LO ÚLTIMO</h2>
          </div>
          <%= render "products/image" %>
                <!-- Modal -->

          </div>

      </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({

      interval: 3500 //changes the speed
  })



  </script>

  </body>

</html>

