<p id="notice"><%= notice %></p>




<% @products.each do |product| %>
<div class="col-md-3 col-sm-6 item">
            <a href="javascript:void(0);">
            <%= image_tag   product.cover.url(:medium), class:"img-responsive img-portfolio img-hover" %>
              <div class="box_text">

                <span><%= product.title %></span>
                  <div class="enlace_modal">

                    <%= button_to "Ver Más", product, {:remote => true, class: "button_modal", method: :get } %>
                  </div>

              </div>
            </a>
          </div>


    <% end %>

     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

     </div>




