
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%=@product.title %> </h4>
      </div>
      <div class="modal-body">
      <%= image_tag     @product.cover.url(:thumb), class:"img-responsive img-portfolio img-hover" %>
      <%= @product.description %>
         <!--<img class="img-responsive img-portfolio img-hover" src="http://lorempixel.com/400/200/city" alt=""> -->

      </div>
    </div>
</div>

